* {
    font-family: Arial, sans-serif;
}

h3 {
    margin: 5px 0;
}

.header {
    width: 100%;
    padding: 10px 5px;
}

.header-text {
    font-size: 30pt;
}

.footer {
    width: 100%;
    padding: 10px 0 10px 5px;
}

.content-pane {
    width: 100%;
    height: 85%;
}

.content {
    height: 100%;
    overflow: scroll;
}

.body {
    width: 800px;
}

.menu {
    width: 200px;
    background-color: aquamarine;
    color: darkslateblue;
    height: 100%;
}

.inset-text {
    margin: 10px;
}

.dark-theme {
    background-color: slategrey;
    color: aliceblue;
}

.horizontal-arrangement {
    display: inline-block;
    vertical-align: top;
}

.right-aligned {
    float: right;
}

.pattern-editor {
    margin: 10px;
    width: 90%;
    height: 50px;
    border: 2px solid black;
}

.panel {
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
}